name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Install backend
      run: npm install

    - name: Install frontend
      run: cd client && npm install

    - name: Backend build test
      run: npm run start --if-present

    - name: Frontend build test
      run: cd client && npm run build
